{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if user is not null %}
            <h1 class="my-5 text-center">Informations du profil : </h1>
            <table class="table mt-5">
                <tbody>
                    <tr>
                        <th scope="row">Prénom</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom de famille</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Adresse email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom d'utilisateur</th>
                        <td>{{ user.username }}</td>
                    </tr>
                </tbody>
            </table>
{# affichage des posts de l'utilisateur #}
            {% if posts is empty %}
              <a href="{{ path('app_new_post') }}" class="btn btn-primary button">Ajouter un post</a>
            {% else %}
              <h1 class="my-5 text-center">Vos posts :</h1>
              <div class="container w-100">
                <div class="row justify-content-around flex-wrap overflow-auto">
                  {% for post in posts %}
                    <div class="col-md-4 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <h3 class="card-title">{{ post.title }}</h3>
                          <p class="card-text">{{ post.content|slice(0, 120) ~ (post.content|length > 120 ? '...' : '') }}</p>
                          <br>
                          <a href="{{ path('app_post', {'id':post.id}) }}" class="btn btn-primary">Voir plus</a>
                          <a href="{{ path('app_delete_post', {'id':post.id}) }}" class="btn btn-danger">Delete Post</a>
                        </div>
                        <div class="card-footer text-muted">Publié le : {{ post.date|date('d/m/Y') }}</div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
  {# affichage des commentaire de l'utilisateur #}

            {% if comments is empty %}
              <div class="alert alert-info" role="alert">
                Vous n'avez pas de commentaire.
              </div>
            {% else %}
              <h1 class="my-5 text-center">Vos commentaires :</h1>
              {% for comment in comments %}
                <div class="card mb-3">
                  <div class="card-header">
                    Commentaire sur le post de l'utilisateur : <strong>{{ comment.post.title }}</strong>
                  </div>
                  <div class="card-body">
                    <p class="card-text">{{ comment.text }}</p>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            {% else %}
              <div class="alert alert-warning" role="alert">
                Vous devez vous connecter pour accéder à cette page.
              </div>
            {% endif %}
    </div>
  </div>
</div>
{% endblock %}

