{% extends 'base.html.twig' %}


{% block body %}

    {# {% if blogs is empty %}
        <p>Aucun article n'a été trouvé.</p>
    {% else %} #}
        {# <div class="container w-100">
            <h1 class="text-center mt-4">Tous les Articles</h1>
            <div class="d-flex flex-column">
                {% for blog in blogs %}
                <div class="card text-center w-100 mt-4 p-0">
                    <div class="card-body">
                        <h4 class="card-title">{{ blog.title }}</h4>
                        <h6 class="card-title muted" style="text-align: left;" >Description : {{ blog.description }}</h6>
                        <br>
                        {% set count = 0 %}
                        {# afficher que les 1 premiers lignes #}
                            {# {% for paragraph in blog.content|split("\n") %}
                                {% if paragraph|trim is not empty %}
                                    {% for line in paragraph|trim|split("<br>") %}
                                        {% if count < 1 %}
                                            <p class="card-text" style="text-align: left; font-size: 1.1rem;">{{ line }}</p>
                                            {% set count = count + 1 %}
                                        {% else %}
                                            {% if count == 1 %}
                                                <p class="card-text" style="text-align: left; font-size: 1.1rem;">{{ line }}...</p>
                                                {% set count = count + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %} #}
                        {# <a href={{ path('app_blog', {'id':blog.id})}} class="btn btn-primary" style="background-color:#2a593e;">Voir plus</a>
                    </div>
                    <div class="card-footer text-muted">Publié le {{ blog.date|date('d/m/Y') }} par {{ blog.creator.username }}</div>
                </div> #}
                {# {% endfor %} #}

            {# </div>
        </div> #}



        <div class="main">
            <h1 class="text-center mt-4 about-title">Tous les Articles :</h1>
            {% set compteur = 0 %}
            {% set image  = 'hey' %}

            <div class="bloc">
                {% set compteur = blogs[0].id %}
                {% set image = compteur ~ '.jpg' %}
                <div class="bloc-image">
                    <img src="{{image}}" class="bloc-images">
                </div>
                <div class="textes">
                    <h1 class="bloc-title">{{ blogs[0].title }}</h1>
                    <p class="bloc-paragraph">{{ blogs[0].description }}</p>
                    <a href={{ path('app_blog', {'id':blogs[0].id})}} class="bloc-link">Voir plus</a>
                </div>
            </div>
        
            <div class="bloc">
                {% set compteur = blogs[1].id %}
                {% set image = compteur ~ '.jpg' %}
                <div class="bloc-image">
                    <img src="{{image}}" class="bloc-images">
                </div>
                <div class="textes">
                    <h1 class="bloc-title">{{ blogs[1].title }}</h1>
                    <p class="bloc-paragraph">{{ blogs[1].description }}</p>
                    <a href={{ path('app_blog', {'id':blogs[1].id})}} class="bloc-link">Voir plus</a>
                </div>
            </div>

            <div class="bloc">
                {% set compteur = blogs[2].id %}
                {% set image = compteur ~ '.jpg' %}
                <div class="bloc-image">
                    <img src="{{image}}" class="bloc-images">
                </div>
                <div class="textes">
                    <h1 class="bloc-title">{{ blogs[2].title }}</h1>
                    <p class="bloc-paragraph">{{ blogs[2].description }}</p>
                    <a href={{ path('app_blog', {'id':blogs[2].id})}} class="bloc-link">Voir plus</a>
                </div>
            </div>
        </div>

{% endblock %}
