{% extends 'base.html.twig' %}

{% block body %}

    {% if posts is empty %}
    {% else %}

        <div class="container w-100">
            <h1 class="text-center mt-4">Toutes les offres</h1>

            <div class="row justify-content-around flex-wrap overflow-auto">

                {% for post in posts %}
                    <div class="card text-left w-25 mt-4 p-0">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">{{ post.title }}</h4>
                            {# réduction de la taille d'affichage #}
                            <h7 class="card-title muted">{{ post.description|slice(0, 60) ~ (post.description|length > 60 ? ' ...' : '') }}</h7>
                            {# <p class="card-text">{{ post.content }}</p> #}
                            <br/><br/>
                            <div class="mt-auto">
                                <a href={{ path('app_post', {'id':post.id})}} class="btn btn-primary card button">Voir contenu</a>
                            </div>
                            {# <a href={{ path('app_post', {'id':post.id})}} class="btn btn-primary card text-center" style="background-color:green">Voir contenu</a> #}
                        </div>
                        <div class="card-footer text-muted">Publié le {{ post.date|date('d/m/Y') }} par <strong>{{ post.creator.username }}</strong></div>
                    </div>
                {% endfor %}

            </div>
        </div>

    {% endif %}
{% endblock %}
